<body class="main">
    <header class="header">
      <img src="assets/quipux.png" alt="estudiante" class="logo" />
      <div class="user-container">
        <p class="nombre">Carolina Fernández Echeverry</p>
        <img src="assets/user-circle.svg" alt="estudiante" class="user-icon" />
      </div>
    </header>
    <div class="container">
      <aside class="nav">
        <ul class="lista">
          <li
            class="nav-li"
            (click)="selectItem('Estudiantes')"
            [class.selected]="selectedItem === 'Estudiantes'"
          >
            Estudiantes
          </li>
          <li
            class="nav-li"
            (click)="selectItem('Grupos')"
            [class.selected]="selectedItem === 'Grupos'"
          >
            Grupos
          </li>
          <li
            class="nav-li"
            (click)="selectItem('Materias')"
            [class.selected]="selectedItem === 'Materias'"
          >
            Materias
          </li>
          <li
            class="nav-li"
            (click)="selectItem('Evaluaciones')"
            [class.selected]="selectedItem === 'Evaluaciones'"
          >
            Evaluaciones
          </li>
          <li
            class="nav-li"
            (click)="selectItem('Informes')"
            [class.selected]="selectedItem === 'Informes'"
          >
            Informes
          </li>
        </ul>
      </aside>
      <main class="main-container">
        <div class="text-container">
          <h1 class="text-title">
            <span class="color-blue">Administración de materias /</span> <span class="not-blue"> Materia</span>
          </h1>
        </div>
        <div class="rectangule">
          <div class="texto-contenedor">
            <h2 class="title">Información de la materia</h2>
          </div>
          <div class="row">
            <div class="select-group">
              <p>Materia</p>
              <select class="select">
                <option value="" disabled selected hidden>Seleccionar</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
              </select>
            </div>
            <div class="select-group">
              <p>Profesor</p>
              <select class="select">
                <option value="" disabled selected hidden>Seleccionar</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
              </select>
            </div>
            <div class="select-group">
              <p>Grado(s)</p>
              <select class="multiSelect">
                <option value="" disabled selected hidden></option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-container">
          <h2 class="title color-blue">Estudiantes</h2>
          <div class="row">
            <div class="select-group">
              <p>Estudiante</p>
              <select class="select">
                <option value="" disabled selected hidden>Seleccionar</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
              </select>
            </div>
            <div class="select-group">
              <p>Código estudiante</p>
              <select class="select2">
                <option value="" disabled selected hidden>Seleccionar</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
              </select>
            </div>
            <button class="search-btn">Buscar</button>
            <a class="link">Limpiar filtros</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Estudiante</th>
                <th>Grado</th>
                <th>Grupo</th>
                <th>Estado</th>
                <th>Nota promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2022101</td>
                <td>Camila Fernández Rojas</td>
                <td>10</td>
                <td>A</td>
                <td>
                  <select class="select3">
                    <option value="" disabled selected hidden>En curso</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                  </select>
                </td>
                <td><input type="text" class="input" required /></td>
              </tr>
              <tr>
                <td>2022102</td>
                <td>Juan Felipe Montoya Ríos</td>
                <td>9</td>
                <td>C</td>
                <td>
                  <select class="select3">
                    <option value="" disabled selected hidden>En curso</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                  </select>
                </td>
                <td><input type="text" class="input" required /></td>
              </tr>
              <tr>
                <td>2022103</td>
                <td>Luisa María Cruz Hernández</td>
                <td>9</td>
                <td>B</td>
                <td>
                  <select class="select3">
                    <option value="" disabled selected hidden>En curso</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                  </select>
                </td>
                <td><input type="text" class="input" required /></td>
              </tr>
              <tr>
                <td>2022104</td>
                <td>Ana María Bedoya López</td>
                <td>8</td>
                <td>B</td>
                <td>
                  <select class="select3">
                    <option value="" disabled selected hidden>En curso</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                  </select>
                </td>
                <td><input type="text" class="input" required /></td>
              </tr>
              <tr>
                <td>2022105</td>
                <td>Santiago Sánchez Rivera</td>
                <td>7</td>
                <td>A</td>
                <td>
                  <select class="select3">
                    <option value="" disabled selected hidden>En curso</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                  </select>
                </td>
                <td><input type="text" class="input" required /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-container">
          <button class="btn" (click)="salirMaterias()">Cancelar</button>
          <button class="search-btn">Guardar</button>
        </div>
      </main>
    </div>
  </body>
  